
header{
    height: 80px;
    display: flex;
    justify-content: end;
    padding: 0 15px;
}

.elementos1{
    display: flex;
    align-items: center;
    gap: 15px;
    font-family: Arial, sans-serif;
 }

 a{
    text-decoration: none;
    color: black;
    font-family: Arial, sans-serif;
 }  

 .ESPAÑOL{
   color: blue;
 }


 .punticos{
    height: 32px;
    width: 32px;   

 }

 .perfil{
    border-radius: 50px;
 }

 .google{
      display: flex;
    flex-direction: column;
    padding: 60px 510px;
    width: 350px;
    height: 150px;
 }

 .BUSCADOR{
    background-color: aqua;
    display: flex;
    justify-content: center;
    border-radius: 70px;
 
 
 }

 .botones{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px 495px;
    gap: 10px;
    width: 500px;
    height: 60px;
    font-family: Arial, sans-serif;
    font-size: 70px;
 }

 .OFRECIDO{
   display: flex;
   justify-content: center;
    }

